#root {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%
}

.appMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 15px 15px 0 15px;
}

.appMenu div {
  font-size: 1.5rem;
}

.appMenu button {
  padding: 6px;
  border-radius: 5px;
  border: 0
}

.giHamburgerMenu {
  font-size: 20px;
  vertical-align: middle;
}

.giHamburgerMenuButton {
  cursor: pointer;
  background: none;
}

.giHamburgerMenuButton:hover {
  background: #343436;
}

.leftBlock {
  min-width: 272px;
  background-color: #242424;
  position: absolute;
  height: 100%;
}

.leftBlockHidden {
  min-width: 272px;
  position: absolute;
  transform: translate(-272px, 0);
  background-color: #242424;
  height: 100%;
}

.leftBlockTransition {
  transition: transform 0.3s ease;
}

.rightBlock {
  padding-left: 272px;
}

.rightBlockFull {
  padding-left: 0px;
}

.rightBlockTransition {
  width: 100%;
  background-color: #343436;
  transition: padding-left 0.3s ease;
}


@media (max-width:600px) {
  .leftBlock {
    min-width: 200px;
    position: absolute;
    height: 100%;

  }

  .leftBlockHidden {
    min-width: 200px;

  }

  .rightBlock {
    padding-left: 0px;
  }
}